body {
    background-color: #f2e1d5;
    margin: 2% 3% 2% 3%;
}
.one-block {
    display: block;
}
.content-row {
    display: flex;
    justify-content: space-around;
}
.right-side img {
    width: 500px;
    height: auto;
}
.left-side img {
    width: 500px;
    height: auto;
    border-radius: 5%;
}